In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
vgsales = pd.read_csv('vgsales.csv')

In [3]:
vgsales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [80]:
vgsales.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [4]:
#Top Genres
vgsales['Genre'].value_counts()

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

In [41]:
#Top 10 Game Sales between 1980-2017
toptensales = vgsales.groupby(['Name']).Global_Sales.sum().sort_values(ascending = False).head(10)
toptensales

Name
Wii Sports                        82.74
Grand Theft Auto V                55.92
Super Mario Bros.                 45.31
Tetris                            35.84
Mario Kart Wii                    35.82
Wii Sports Resort                 33.00
Pokemon Red/Pokemon Blue          31.37
Call of Duty: Black Ops           31.03
Call of Duty: Modern Warfare 3    30.83
New Super Mario Bros.             30.01
Name: Global_Sales, dtype: float64

In [94]:
vgsales['Year'] = vgsales['Year'].fillna(0)
vgsales['Year'] = vgsales['Year'].astype('int')

In [95]:
#Top 10 Sales Years
toptensalesyear = vgsales.groupby(['Year']).Global_Sales.sum().sort_values(ascending = False).head(10)
toptensalesyear

Year
2008    678.90
2009    667.30
2007    611.13
2010    600.45
2006    521.04
2011    515.99
2005    459.94
2004    419.31
2002    395.52
2013    368.11
Name: Global_Sales, dtype: float64

In [46]:
#Platform Sales
platform = vgsales.groupby(['Platform']).Global_Sales.sum().sort_values(ascending = False)
platform

Platform
PS2     1255.64
X360     979.96
PS3      957.84
Wii      926.71
DS       822.49
PS       730.66
GBA      318.50
PSP      296.28
PS4      278.10
PC       258.82
XB       258.26
GB       255.45
NES      251.07
3DS      247.46
N64      218.88
SNES     200.05
GC       199.36
XOne     141.06
2600      97.08
WiiU      81.86
PSV       61.93
SAT       33.59
GEN       28.36
DC        15.97
SCD        1.87
NG         1.44
WS         1.42
TG16       0.16
3DO        0.10
GG         0.04
PCFX       0.03
Name: Global_Sales, dtype: float64

In [149]:
#Top Sales grouped by Year and Name
topgamesbyyear = vgsales.groupby(['Year','Name'],as_index = False)['Global_Sales'].sum().sort_values(['Global_Sales'],ascending = False)
topgamesbyyear

       Year                                               Name  Global_Sales
6027   2006                                         Wii Sports         82.74
366    1985                                  Super Mario Bros.         40.24
11248  2013                                 Grand Theft Auto V         37.78
7451   2008                                     Mario Kart Wii         35.82
8961   2009                                  Wii Sports Resort         33.00
...     ...                                                ...           ...
6741   2007  Shijyou Saikyou no Deshi Kenichi: Gekitou! Rag...          0.01
11133  2013                                       1/2 Summer +          0.01
9165   2010     Densetsu no Yuusha no Densetsu: Legendary Saga          0.01
6035   2006                   Wizardry XTH: Unlimited Students          0.01
0         0             AKB1/48: Idol to Guam de Koishitara...          0.01

[12363 rows x 3 columns]

In [189]:
#Sort by Year 
sort = topgamesbyyear.sort_values(['Year','Global_Sales'],ascending = False)
sort

       Year                                              Name  Global_Sales
12362  2020                            Imagine: Makeup Artist          0.29
12361  2017  Phantasy Star Online 2 Episode 4: Deluxe Package          0.04
12360  2017                  Brothers Conflict: Precious Baby          0.01
12211  2016                                           FIFA 17          6.91
12335  2016                         Tom Clancy's The Division          5.99
...     ...                                               ...           ...
20        0                       Brothers in Arms: Furious 4          0.01
162       0                                            Shorts          0.01
83        0                   Homeworld Remastered Collection          0.01
86        0                                         Inversion          0.01
0         0            AKB1/48: Idol to Guam de Koishitara...          0.01

[12363 rows x 3 columns]

In [192]:
#Sorted by Year filtering out no year and 2020
gameofyear = sort[(sort['Year']>0) & (test['Year']<2020)]
gameofyear

       Year                                              Name  Global_Sales
12361  2017  Phantasy Star Online 2 Episode 4: Deluxe Package          0.04
12360  2017                  Brothers Conflict: Precious Baby          0.01
12211  2016                                           FIFA 17          6.91
12335  2016                         Tom Clancy's The Division          5.99
12342  2016                        Uncharted 4: A Thief's End          4.20
...     ...                                               ...           ...
234    1980                                            Boxing          0.77
239    1980                                        Ice Hockey          0.49
238    1980                                           Freeway          0.34
235    1980                                            Bridge          0.27
236    1980                                          Checkers          0.24

[12129 rows x 3 columns]

In [193]:
#Top Selling Game per Year
gameofyear.groupby('Year').first().sort_values(['Year'],ascending = False)

                                                  Name  Global_Sales
Year
2017  Phantasy Star Online 2 Episode 4: Deluxe Package          0.04
2016                                           FIFA 17          6.91
2015                         Call of Duty: Black Ops 3         25.32
2014                    Call of Duty: Advanced Warfare         21.90
2013                                Grand Theft Auto V         37.78
2012                        Call of Duty: Black Ops II         29.72
2011                    Call of Duty: Modern Warfare 3         30.83
2010                           Call of Duty: Black Ops         29.40
2009                                 Wii Sports Resort         33.00
2008                                    Mario Kart Wii         35.82
2007                                           Wii Fit         22.72
2006                                        Wii Sports         82.74
2005                                        Nintendogs         24.76
2004                     Grand Theft Auto: San Andreas         20.81
2003                        Need for Speed Underground         10.46
2002                       Grand Theft Auto: Vice City         16.15
2001                            Gran Turismo 3: A-Spec         14.98
2000                           Pokémon Crystal Version          6.39
1999                       Pokemon Gold/Pokemon Silver         23.10
1998           Pokémon Yellow: Special Pikachu Edition         14.64
1997                                      Gran Turismo         10.95
1996                          Pokemon Red/Pokemon Blue         31.37
1995         Donkey Kong Country 2: Diddy's Kong Quest          5.15
1994                               Donkey Kong Country          9.30
1993                             Super Mario All-Stars         10.55
1992                Super Mario Land 2: 6 Golden Coins         11.18
1991           The Legend of Zelda: A Link to the Past          4.61
1990                                 Super Mario World         20.61
1989                                            Tetris         30.26
1988                               Super Mario Bros. 3         17.28
1987                   Zelda II: The Adventure of Link          4.38
1986                               The Legend of Zelda          6.51
1985                                 Super Mario Bros.         40.24
1984                                         Duck Hunt         28.31
1983                                          Baseball          3.20
1982                                           Pac-Man          7.81
1981                                          Pitfall!          4.50
1980                                         Asteroids          4.31